# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnement virtuel
venv/
env/
.env
.claude/

# Modèles TTS (trop lourds pour GitHub)
kokoro-v1.0.onnx
voices-v1.0.bin
*.onnx
*.onnx.json

# Modèles PaddleOCR (téléchargés automatiquement)
.paddlex/
inference/

# vosk
vosk-model*/

# Fichiers temporaires
*.jpg
*.tmp
temp/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db